.AnimationMenuOptions {
    background-color: var(--ctx-menu-bg);
    width: 265px;
    height: 45px;
    position: absolute;
    bottom: 50px;
    transition: var(--transitionEaseNormal);
    z-index: 9;
    opacity: 0;
    filter: brightness(2.5);
    border-radius: 6px;
    box-shadow: var(--ctx-menu-shadow);
}

.AnimationMenuContent {
    display: none;
}

.AnimationMenuContent h4 {
    font-size: 24px;
    font-family: var(--font-text);
    padding: 0.65rem 1.5rem;
    padding-top: 1rem;
    letter-spacing: -0.5px;
}

.AnimationMenuContent li {
    padding: 0.7rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AnimationMenuContent li a,
.AnimationMenuContent li span {
    color: var(--theme-fg);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.AnimationMenuContent li span {
    filter: brightness(1.2);
    background-color: var(--HoverColor);
    padding: 0.2rem 0.7rem;
    border-radius: 2px;
}

.AnimationMenuContent li:hover {
    background-color: var(--HoverColor);
    cursor: pointer;
}

.AnimationMenuContent li:active {
    background-color: var(--SoftHoverColor);
    cursor: pointer;
}

.MoreOptions {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: none;
    opacity: 0;
    transition: var(--transitionEaseNormal);
    backdrop-filter: blur(10px);
    background-color: var(--BackgroundBlurColor);
}

.MoreOptionsNavbar {
    position: fixed;
    z-index: 13;
    width: 100vw;
    height: fit-content;
    background-color: var(--theme-primary);
    height: var(--nav-height);
    background-color: var(--TitlebarColor);
    border-bottom: var(--border);
    -webkit-app-region: drag;
}

.MoreOptionsNavbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.MoreOption_NavCon_Nav {
    display: flex;
    align-items: center;
    height: var(--nav-height);
}

.MoreOption_NavCon_Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MoreOption_NavCon_Nav svg {
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 0.3rem;
    width: 33.5px;
    height: auto;
    -webkit-app-region: no-drag;
}

.MoreOption_NavCon_Nav svg:hover {
    background-color: var(--HoverColor);
    border-radius: 4px;
}

.MoreOption_NavCon_Nav h4 {
    font-weight: 450;
    margin-left: 0.25rem;
    font-size: 14.5px;
}