.contentTEXT {
    display: none;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.contentTEXT h1 {
    font-family: var(--font-text), sans-serif;
    font-weight: 400;
    font-size: 18px;
}

#GotoHomePage {
    background-color: var(--TitlebarColor) !important;
    border-right: none !important;
    border-bottom: var(--TitlebarColorBorder);
}

#CurrentPage {
    border-bottom: var(--TitlebarColorBorder);
}

/* CSS CALC */

.calcContainer {
    margin: 0;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    max-width: 400px;
    border-radius: 20px;
    padding: 20px;
}

.display {
    color: white;
    text-align: right;
    font-size: 80px;
    margin-bottom: 20px;
    min-height: 90px;
    padding: 0 20px;
    font-family: var(--font-text), sans-serif;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 30px;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    color: white;
}

button:hover {
    filter: brightness(0.825);
}

button:active {
    filter: brightness(0.5);
}

.number {
    background: #333;
}

.operator {
    background-color: var(--ColorHighlight);
    color: #000;
}

.operator h1 {
    font-family: var(--font-text), sans-serif;
    transform: translate(1.5px, -3px);
    font-weight: 400;
}

.special {
    background: #a5a5a5;
    color: black;
}

.zero {
    grid-column: span 2;
    width: 100%;
    border-radius: 40px;
}

@media screen and (max-width: 720px) {

    .contentTEXT {
        display: inline-block;
    }

}

@media (max-width: 340px) {
    .contentTEXT {
        left: 17px;
        transform: translateX(0px);
    }

    #GotoHomePage {
        display: none;
    }
}