@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=IBM+Plex+Sans+Thai:wght@300&family=Inter+Tight:wght@300&family=Noto+Sans+SC:wght@300&display=swap');

.custom-context-menu {
    position: fixed;
    background: #1a1a1a;
    backdrop-filter: blur(8px);
    /* --RCborder: solid 1px #292929; */
    /* border: var(--RCborder); */
    border-radius: 6px;
    padding: 6px 0rem;
    min-width: 180px;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.4),
        0px 9px 46px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transform: scale(0.95);
    transform-origin: top left;
    transition: all 0.15s ease-out;
}

.custom-context-menu.show {
    opacity: 1;
    transform: scale(1);
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    color: #e3e3e3;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: 300;
    font-family: 'Inter Tight', 'IBM Plex Sans Thai', 'Hind', 'Noto Sans SC', sans-serif;
}

.menu-item:hover {
    background-color: #313131;
}

.menu-item .material-symbols-outlined {
    margin-right: 8px;
    font-size: 18px;
    opacity: 0.8;
}

.menu-label {
    font-size: 14px;
    font-weight: 500;
}

.menu-item:active {
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(0.98);
}