#GotoHomePage {
    border-bottom: var(--TitlebarColorBorder);
    background-color: var(--TitlebarColor) !important;
    border-right: none !important;
    border-bottom: var(--TitlebarColorBorder);
}

#CurrentPage {
    border-bottom: var(--TitlebarColorBorder);
}

.contentTEXT {
    display: none;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.contentTEXT h1 {
    font-family: var(--font-text), sans-serif;
    font-weight: 400;
    font-size: 18px;
    transform: translate(0px, -1.5px);
}

#NotesContent {
    width: 100%;
    height: calc(100vh - 40px);
    resize: vertical;
    font-size: 18px;
    padding: 50px 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    transform: translateY(40px);
    /* Default fonts fallback */
    font-family: var(--font-primary), "Anuphan", "Leelawadee UI", sans-serif;
    line-height: 1.7;
}

/* Sorry for hard code */
#NotesContent,
#NotesContent * {
    font-family: var(--font-primary), "Anuphan", "Leelawadee UI", sans-serif !important;
}

.fontsSelector {
    position: absolute;
    z-index: 11;
    box-shadow: var(--ctx-menu-shadow);
    background-color: var(--ctx-menu-bg);
    border-radius: 6px;
    width: fit-content;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.fontsSelContent {
    padding: 0.5rem 0.85rem;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.FontsTools a span {
    padding: 0.5rem 1.25rem;
    border: solid 1px var(--theme-border);
    background-color: var(--theme-card);
    border-radius: 20px;
    color: var(--ctx-menu-text);
}

.IconsTools {
    margin-left: 0.35rem;
}

.IconsTools a {
    padding: 0.5rem 1.25rem;
    border-radius: 2.5px;
    position: relative;
    margin-right: 0.5rem;
}

.IconsTools a:hover {
    background-color: var(--ctx-menu-hover);
}

.IconsTools a:hover,
.IconsTools a svg:hover {
    fill: var(--ctx-menu-text-hover);
}

.IconsTools a:focus {
    background-color: var(--accent);
}

.IconsTools a:focus svg {
    fill: #000;
}

.IconsTools a svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.OutputTabbar {
    position: absolute;
    width: 100%;
    height: 35px;
    top: 40px;
    background-color: var(--nav-current);
    border-bottom: var(--TitlebarColorBorder);
    z-index: 11;
    display: flex;
    justify-content: start;
    align-items: center;
    display: flex;
    align-items: center;
}

.CurrentTabs {
    width: 200px;
    height: 35px;
    border-right: var(--TitlebarColorBorder);
}

.TabsName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    background-color: var(--TitlebarColor);
    height: 34px;
}

.Othertabs {
    display: flex;
    align-items: center;
    justify-content: start;
}

.TabsName input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14.5px;
    height: 35px;
    width: 150px;
}

.TabsName input:hover {
    cursor: default;
}

.AddButtons {
    transform: translate(8.5px,2.25px);
}

.AddButtons svg {
    height: auto;
    width: 20px;
}

@media screen and (max-width: 720px) {

    .contentTEXT {
        display: inline-block;
    }

}

@media (max-width: 340px) {
    .contentTEXT {
        left: 17px;
        transform: translateX(0px);
    }

    #GotoHomePage {
        display: none;
    }
}