#time {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15.25vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#time-main,#time-ms {
    font-family: "Host Grotesk", "Segoe UI", sans-serif;
}

#GotoHomePage {
    border-bottom: var(--TitlebarColorBorder);
    background-color: var(--TitlebarColor) !important;
    border-right: none !important;
}

.contentBTN {
    display: flex;
    gap: 10px;
    position: absolute;
    width: max-content;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.contentBTN button {
    padding: 0.6rem 1.25rem;
    border-radius: 0.75rem;
    --TimeButtons: #222;
    background-color: var(--TimeButtons);
    width: fit-content;
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 18px;
    color: #fff;
}

.contentBTN button:hover {
    background-color: #3F3F3F;
    transition: ease 0.3s all;
}

.contentTEXT {
    display: none;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.contentTEXT h1 {
    font-family: var(--font-text), sans-serif;
    font-weight: 400;
    font-size: 18px;
    transform: translate(0px, -1.5px);
}

.lapsContent {
    height: 55px;
    width: 450px;
}

#laps {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
}

@media screen and (max-width: 720px) {

    .contentTEXT {
        display: inline-block;
    }

}

@media (max-width: 340px) {
    .contentTEXT {
        left: 17px;
        transform: translateX(0px);
    }

    #GotoHomePage {
        display: none;
    }
}