.DragAppRegion {
    width: 100vw;
    position: fixed;
    -webkit-app-region: drag;
    height: 39px;
    top: 0;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 40px;
}

.NavContent {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* GPU acceleration */
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
    will-change: transform, opacity;
    /* animation timing */
    animation: slideUpNav 400ms cubic-bezier(0.17, 0.67, 0.26, 0.98) forwards;
    animation-delay: calc(var(--delay) * 60ms);
    opacity: 0;
}

.NavContent:hover {
    background-color: var(--SoftHoverColor);
}

.NavContentText {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.NavContenttext_Title {
    margin-left: 1rem;
}

.NavContent h1 {
    font-weight: 550;
    line-height: 1.4;
    font-size: 18px;
    font-family: var(--font-text);
    color: var(--theme-fg);
}

.NavContent p {
    color: var(--theme-links);
    font-size: 12px;
    font-weight: 400;
    font-family: var(--font-text);
}

/* Ripple links effect */

.ripple {
    position: absolute;
    background: rgba(255, 255, 255, 0.325);
    border-radius: 50%;
    pointer-events: none;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform, width, height, opacity;
    animation: rippleEffect 400ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
    filter: blur(8px);
}

@keyframes rippleEffect {
    from {
        width: 0;
        height: 0;
        opacity: 0.5;
        transform: translate3d(-50%, -50%, 0) scale(0);
    }
    to {
        width: 200px;
        height: 200px;
        opacity: 0;
        transform: translate3d(-50%, -50%, 0) scale(2);
    }
}

@keyframes slideUpNav {
    0% {
        transform: translate3d(0, 15px, 0);
        opacity: 0;
        filter: blur(7px);
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.ContentUpper_Theme,
.ContentUpper_Appearance,
.ContentUpper_Titlebar,
.ContentUpper_AlwaysOnTops,
.ContentUpper_Navigation {
    width: 100%;
    height: calc(100vh - 39px);
    background-color: #0f0f0f;
    position: fixed;
    bottom: 0;
    transform: translateY(500px);
    transition: var(--MenuEaseTransition);
    z-index: 10;
}

.ContentUpper_Content {
    padding: 0rem 1.5rem;
    margin: auto;
    position: relative;
    width: 100%;
    height: calc(100vh - 39px);
}

#BackBtnContentTheme,
#BackBtnContentAppearance,
#BackBtnContentTitlebar,
#BackBtnContentAlwaysOnTops,
#BackBtnContentNavigation {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: transparent;
    z-index: 1000;
    transition: var(--MenuEaseTransition);
    opacity: 0;
    -webkit-app-region: no-drag;
    cursor: pointer;
    transform: translateY(-26px);
    position: relative;
}

#BackBtnContentTheme:hover,
#BackBtnContentAppearance:hover,
#BackBtnContentTitlebar:hover,
#BackBtnContentAlwaysOnTops:hover,
#BackBtnContentNavigation:hover {
    background-color: var(--SoftHoverColor);
}

#BackBtnContentTheme.visible,
#BackBtnContentAppearance.visible,
#BackBtnContentTitlebar.visible,
#BackBtnContentAlwaysOnTops.visible,
#BackBtnContentNavigation.visible {
    opacity: 1;
}

.picker-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: calc(100% - 4.2rem);
    overflow: hidden;
    border-radius: 12px;
    gap: 2px;
    background-color: var(--theme-border);
}

.color {
    width: 100%;
    aspect-ratio: 1;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
}

.color:active {
    border: 2px solid #fff;
    transform: scale(1.05);
}

.color:focus {
    border: 2px solid #fff;
    transform: scale(1.25);
    z-index: 1;
}

.accent-preview {
    margin: 1.5rem auto;
    padding: 0.5rem 1.15rem;
    background-color: var(--theme-accent);
    color: black;
    text-align: center;
    width: fit-content;
    font-weight: bold;
    border-radius: 10rem;
    position: absolute;
    bottom: 0;
    left: 1.5rem;
}